@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --font-size: bold;
  --color-orange: #ffa500;
  --color-black: black;
  --font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1200px) {
  .header-index nav {
    display: none;
  }
  .store {
    display: none;
  }
  .img-section {
    flex-wrap: wrap;
    text-align: center;
  }
  .footer-index {
    flex-direction: column;
    text-align: center;
    align-content: center;
  }
  .footer-index ul {
    padding: 0;
  }
}
@media screen and (max-width: 576px) {
  .img-section-home {
    display: flex;
    flex-direction: column;
  }
}
/* HEADER */
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  height: 100px;
}
header a {
  font-family: var(--font-family);
  display: flex;
  padding: 10px;
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-black);
}
header a:visited {
  color: none; /* Color del enlace después de ser visitado */
}
header img {
  height: 100px;
}
header input {
  height: 3vh;
  border-radius: 20px;
  text-align: center;
  font-size: 1rem;
  background-color: #f5f5f5;
  border: 1px solid rgb(201, 201, 201);
}
header nav {
  display: flex;
}
header .search-register {
  display: flex;
  align-items: center;
}
header .search-register a {
  font-size: 15px;
}

/* BANNER PAGINA PRINCIPAL */
.banner-principal {
  margin-top: 100px;
  width: 100%;
}
.banner-principal a {
  display: flex;
  width: 100%;
}
.banner-principal img {
  display: flex;
  width: 100%;
}

/* BANNER REDIRECCIONA A STORE */
.store {
  text-align: center;
  margin-top: 20px;
}
.store img {
  max-height: 500px;
}

/* TITULO DE SECTION DE PRODUCTOS */
/* SECTION DE PRODUCTOS */
.img-section {
  width: 100%;
}
.img-section h2 {
  text-align: center;
  margin-top: 50px;
  font-family: "Montserrat", sans-serif;
}
.img-section .tittle-img {
  font-family: var(--font-family);
  color: var(--color-orange);
  font-weight: 500;
  font-size: 1rem;
}
.img-section .grey-img {
  color: grey;
}
.img-section .img-section-home {
  display: flex;
  gap: 15px;
  padding: 15px;
}
.img-section .img-section-home a {
  text-decoration: none;
}
.img-section .img-section-home a a:visited {
  color: none; /* Color del enlace después de ser visitado */
}
.img-section .img-section-home ul {
  padding: 0;
}
.img-section .img-section-home li {
  font-family: var(--font-family);
  list-style: none;
  padding: 2px;
  font-weight: var(--font-size);
  font-size: 0.9rem;
}
.img-section .img-section-home img {
  width: 400px;
  width: 100%;
}

/* FOOTER */
footer {
  display: flex;
  font-family: Helvetica, sans-serif;
  font-size: 0.7rem;
  background-color: #111;
  width: 100%;
  justify-content: center;
  margin-top: 2rem;
}
footer ul {
  align-items: center;
  padding: 50px;
}
footer a {
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #7e7e7e;
  font-weight: bold;
  font-size: 0.7rem;
}
footer a:hover {
  color: white;
}
footer a:visited {
  color: none; /* Color del enlace después de ser visitado */
}
footer .footer-tittle {
  color: #fff;
  font-weight: bold;
  font-size: 0.8rem;
  font-family: Helvetica, sans-serif;
}

/* STORE.HTML */
/* TITTLE STORE */
.tittle-store {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: var(--font-family);
}

/* SECTION PRODUCTOS Y CATEGORIAS - STORE */
.productos-store {
  display: flex;
  padding: 40px;
}

/* ASIDE CATEGORIAS - STORE*/
.categorias-productos {
  justify-content: center;
  font-family: var(--font-family);
  font-size: 0.9rem;
}
.categorias-productos ul {
  width: 250px;
  padding: 0;
}
.categorias-productos li {
  font-family: var(--font-family);
  list-style: none;
  margin-top: 15px;
}
.categorias-productos input {
  border: 1px solid #979797;
  color: #3f3f40;
}

/* IMAGENES DE PRODUCTOS - STORE */
.section-store-products {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}
.section-store-products ul {
  padding: 0;
  font-size: 0.9rem;
}
.section-store-products img {
  width: 350px;
}
.section-store-products a {
  text-decoration: none;
}
.section-store-products li {
  list-style: none;
  margin-top: 2px;
  font-family: var(--font-family);
}
.section-store-products .tittle-img {
  color: var(--color-orange);
  font-weight: bold;
  font-size: 1.1rem;
}
.section-store-products .grey-img {
  color: grey;
  font-weight: var(--font-size);
}

/* CONTACT HTML */
.main-contact {
  display: flex;
  flex-direction: column;
  width: 55%;
  border: 1px solid #e5e5e5;
  margin: auto;
  padding: 20px;
  margin-top: 120px;
}
.main-contact .section-contact-up {
  border-bottom: 1px solid #e5e5e5;
}
.main-contact .section-contact-up ul {
  list-style: none;
  padding: 0;
}
.main-contact .section-contact-up li {
  font-family: var(--font-family);
  padding: 10px;
  font-size: 0.8rem;
}
.main-contact .section-contact-up p {
  font-family: var(--font-family);
  font-size: 0.8rem;
}
.main-contact .section-contact-up h2 {
  font-size: 1.7rem;
}
.main-contact .section-contact-down {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}
.main-contact .section-contact-down ul {
  list-style: none;
}
.main-contact .section-contact-down ul h3 {
  font-size: 1rem;
  margin: 0;
}
.main-contact .section-contact-down ul li {
  padding: 4px;
}
.main-contact .section-contact-down ul a {
  text-decoration: none;
  font-size: 1rem;
  color: #727273;
}
.main-contact .section-contact-down ul a:visited {
  color: none; /* Color del enlace después de ser visitado */
}

/* REGISTRO HTML */
.tittle-register {
  margin-top: 150px;
  text-align: center;
  font-size: 2.5rem;
  font-family: var(--font-family);
}

.text-section-register-tittle {
  text-align: center;
  font-size: 1.1rem;
  font-family: var(--font-family);
}

.main-registro {
  justify-content: center;
}
.main-registro .section-registro {
  display: flex;
  gap: 20px;
  width: 70%;
  margin: auto;
  justify-content: center;
  flex-wrap: wrap;
}
.main-registro .section-registro label {
  margin-top: 10px;
}
.main-registro .section-registro input {
  border-radius: 10px;
  border: 1px solid;
  height: 35px;
}
.main-registro .form-registro-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 350px;
}
.main-registro .form-registro-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 350px;
}
.main-registro .input-info {
  text-align: center;
  margin-top: 50px;
}
.main-registro .button-registro {
  margin-top: 30px;
  justify-content: center;
  display: flex;
}
.main-registro .button-registro a {
  font-family: var(--font-family);
  text-decoration: none;
  border: 1px solid rgb(70, 70, 70);
  width: 6rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 0.7rem;
  color: var(--color-black);
}
.main-registro .button-registro a:hover {
  background-color: rgb(238, 238, 238);
}/*# sourceMappingURL=styles.css.map */